html {
  position: relative;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  background-color: var(--main-background);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

section {
  padding: 50px 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
